header.dashboard-header {
  background-color: #004165 !important;
}
/* 
header.dashboard-header nav #header {
} */

header.dashboard-header nav .navbar-brand {
  color: transparent !important;
}

header.dashboard-header nav #header {
  background-size: auto !important;
  background-image: url("https://www.anz.com/apps/settings/wcm/designs/commons/images/logo-anz.png") !important;
}

span.username-text {
  color: #f7f7f7 !important;
}
